/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
.header {
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;
}

.header__inner {
  margin: 0 auto;
  max-width: 1020px;
}

.button--category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 116px;
  border: none;
  background-color: var(--color-blue-600);
}

.button--category:focus {
  border-radius: 10px;
  box-shadow: 2px 2px var(--color-blue-600);
}

.btn-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
}
/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

.navigation {
  margin: 0 auto;
  min-height: 558px;
}

.navigation__inner {
    margin: 0 auto;
    max-width: 1020px;
}

.hidden, .logo {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

ul > li {
  padding: 0 0 4px 20px;
  font-size: 12px;
  line-height: 30px;
  width: 170px;
  height: 30px;
}

li > i {
  margin-right: 4px;
}

.navigation__list {
  margin: 0;
  padding: 10px 0;
  width: 180px;
  position: relative;
  border-bottom: 1.5px solid #e5e5e5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navigation__list > li {
  display: block;
}

.navigation__list > li > a,
.depth-2 > li > a {
  display: block;
  color: var(--color-blue-600);
}

.depth-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 180px;
  width: 180px;
  height: 500px;
  padding: 10px 0;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.depth-3 {
  display: none;
  position: absolute;
  top: 0;
  left: 180px;
  width: 180px;
  height: 500px;
  padding: 10px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.navigation__list > li:hover > .depth-2,
.navigation__list > li:focus > .depth-2 {
  display: block;
}

.depth-2 > li:hover > .depth-3,
.depth-2 > li:focus > .depth-3 {
  display: block;
}

.depth-3 > li:hover,
.depth-3 > li:focus {
  color: var(--color-blue-600);
}

.active {
  background-image: url('../../assets/icon/more-right-active.svg');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}








/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main{
  /* min-height: 52rem; */
}


/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */

.footer {
    margin: 0 auto;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--color-gray-200);
}

.link-list {
  font-size: 12px;
  line-height: 14px;
  padding: 5px 14px 6px 14px;
}

.bold {
  font-weight: 700;
}

.coupang-info-area {
  display: flex;
  max-width: 1200px;
  margin: 32px auto;
}

.logo-area {
  margin-right: 63px;
}

.logo-img {
  background-image: url('../../assets/logo/logo-mono.svg');
  background-repeat: no-repeat;
  width: 176px;
  height: 40px;
}

.info-area {
  margin-right: 62px;
  width: 260px;
}

.info {
  margin-bottom: 12px;
  width: 260px;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-gray-800);
}

.customer-service-area {
  margin-right: 62px;
  width: 293px;
}

.customer-center {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-gray-800);
}

.customer-center::after {
  content: '';
  display: inline-block;
  border: 1px solid var(--color-gray-800);
  width: 1px;
  height: 12px;
  margin: 0 10px;
}

.main-number {
  display: inline-block;
  margin: 8px 0 12px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: var(--color-gray-800);
}

.notice-area {
  width: 282px;
}

.notice-title {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-gray-800);
}

.footer__inner {
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
}

.copyright-area {
  background-color: var(--color-gray-900);
}

.copyright {
  margin: 16px 50px 16px auto;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-gray-200);
}

.sns-logo {
  display: flex;
  position: relative;
  top: 65px;
  width: 122px;
  height: 34px;
}

.naver-blog {
  margin: 0 10px;
}

.instagram {
  border-radius: 50%;
  background: linear-gradient(to bottom,
                              #285AEB 0%,
                              #BC1888 15%,
                              #CC2366 25%,
                              #DC2743 55%,
                              #E6683C 75%,
                              #F09433 100%);
}